@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family:'Poppins', sans-serif;
}

#background{
  min-height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
      url(./img/Logos/santa-fe-828x548.jpg) no-repeat center center fixed;
      background-size: cover;
}

.logo {
  display: flex;

}
@media screen and (max-width:450px) {
  .logo {
    display: flex;
    justify-content: center;
    width: auto;
    height: 50px;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background: rgb(230,216,56);
  background: linear-gradient(90deg, rgba(230,216,56,1) 0%, rgba(234,70,58,1) 100%);
}
@media only screen and (max-width: 450px){ 
  nav {
    position: relative;
  }
  .menu-toggle {
    position: relative;
    right: 0px;
    background: none;
    padding: 5px;
    flex: auto;
  }
}


nav ul {
  display:flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 40px;
}
@media screen and (max-width:450px) {
  nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px
  }
}


nav ul li {
  transition: transform 0.25s ease;
}
nav ul li:hover {
  transform:scale(1.1);
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 17px;
  margin-right: 40px;
  text-shadow: 3px 3px 2px rgba(128, 0, 0, 1);
}

.recorridos {
  display:flex;
  text-align: center;
  justify-content: space-around;
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
  }

  .container-grid p {
    cursor: pointer;
  }

  .container-grid img {
    display: block;
    margin-top: 20px;
    width: 100px;
    transition: transform 0.25s ease;
  }
  
  .container-grid img:hover {
    transform: scale(1.1);
  }

  .container-grid .lineas {
    display: grid;
    justify-items: center;
    color: #fff;
    cursor: pointer;
  }

  